@model MODELOS_ENTITIES.cuenta

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_Cuenta }) |
    @Html.ActionLink("Regresar", "Index")
</p>
