@model MODELOS_ENTITIES.cliente

@{
    ViewBag.Title = "Borrar Cliente";
}

<h2>@ViewBag.Title </h2>

<h3>Esta Seguro que quiere borrar este cliente?</h3>
<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_identificacion.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_identificacion.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
